
Requires;
- sqlite - sudo apt-get install sqlite
- python3

Setup:
- python3 -m venv env
-- create virtual environment in ./env
- source env/bin/activate
-- activates virtual envrionment
- python3 -m pip install -e .
-- installs python modules
- uvicorn api:app --reload
-- runs app

open browser and go to http://localhost:8000/cache?api_url=https://pokeapi.co/api/v2/pokemon/ditto
