
Requires;
- sqlite - sudo apt-get install sqlite
- python3

Setup Instructions
create virtual environment in ./env
- python3 -m venv env

activates virtual envrionment
- source env/bin/activate
if that fails try
- source env/Scripts/activate

installs python modules
- python3 -m pip install -e .

runs app
- uvicorn api:app --reload

open browser and go to http://localhost:8000/cache?api_url=https://pokeapi.co/api/v2/pokemon/ditto
